@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
    --radius-blob: 63% 37% 37% 63% / 43% 37% 63% 57%;

    --primary-hex: #ffde59;
    --primary-rgb: rgb(255, 222, 89);
    --secondary-hex: #2c3349;
    --secondary-rgb: rgb(44, 51, 73);
  }

  .dark {
    --background: 226, 25%, 23%;
    --foreground: 48 0% 100%;
    --card: 48 0% 10%;
    --card-foreground: 48 0% 100%;
    --popover: 48 10% 5%;
    --popover-foreground: 48 0% 100%;
    --primary: 48 100% 67.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 48 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 10 10% 25%;
    --muted-foreground: 48 0% 65%;
    --accent: 10 10% 25%;
    --accent-foreground: 48 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 48 0% 100%;
    --border: 48 20% 50%;
    --input: 48 20% 50%;
    --ring: 48 100% 67.5%;
    --radius: 0.5rem;
  }

  .light {
    --background: 220, 14%, 96%;
    --foreground: 251 0% 10%;
    --card: 251 0% 100%;
    --card-foreground: 251 0% 15%;
    --popover: 251 0% 100%;
    --popover-foreground: 251 95% 10%;
    --primary: 251 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 251 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 213 10% 95%;
    --muted-foreground: 251 0% 40%;
    --accent: 213 10% 90%;
    --accent-foreground: 251 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 251 0% 100%;
    --border: 251 20% 82%;
    --input: 251 20% 50%;
    --ring: 251 100% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth antialiased;
    @apply selection:bg-primary selection:text-primary-foreground;
  }

  html,
  body {
    @apply size-full text-base;
  }

  body {
    @apply bg-background text-foreground;
  }

  body a {
    @apply rounded transition-all duration-150 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  body h1,
  body h2,
  body h3,
  body h4,
  body h5 {
    @apply font-heading;
  }

  .scroll-to-top {
    @apply fixed bottom-20 right-4 z-50 flex items-center justify-end p-2 transition duration-150 ease-in-out;
  }

  .scroll-to-top .-btn {
    @apply flex size-10 items-center justify-center rounded bg-gray-300/40 backdrop-blur-md hover:bg-gray-500/40;
    @apply fill-white p-2 opacity-80 shadow-lg transition duration-150 ease-in-out hover:opacity-100 focus:opacity-100 md:size-12;
  }
}
